Package: python-gnomekeyring
Source: gnome-python-desktop
Version: 2.32.0+dfsg-zevenos2
Architecture: i386
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 84
Depends: libc6 (>= 2.4), libglib2.0-0 (>= 2.12.0), libgnome-keyring0 (>= 3.2.2-2~), python2.7, python (>= 2.7), python (<< 2.8), python-gtk2
Suggests: gnome-keyring
Replaces: python-gnome2-desktop (<< 2.24.0-2)
Section: python
Priority: optional
Description: Python bindings for the GNOME keyring library
 This package contains a module that allows one to access and manipulate
 the GNOME keyring framework in Python.
Original-Maintainer: Loic Minier <lool@dooz.org>
